/* type scale */

.h1 {
  font-size: 2.827em;
}

.h2 {
  font-size: 2em;
}

.h3 {
  font-size: 1.414em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.707em;
}

.h6 {
  font-size: 0.5em;
}

/* functional classes for type... */

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.lowercase {
  text-transform: lowercase;
}

.text-decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.color-white {
  color: white;
}

.color-grey {
  color: #ababab;
}

.color-black {
  color: black;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* ...and layout */

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative,
.absolute {
  margin: 0;
}

.relative {
  position: relative;
}

.relative.center {
  margin: 0 auto;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.absolute.center {
  margin: auto;
}

.top-auto {
  top: auto;
}

/* miscellaneous utilities */

.wrap {
  padding: 0.707em;
}

@media (min-width: 25em) {
  .wrap {
    padding: 1.414em;
  }
}

@media (min-width: 33.3em) {
  .wrap {
    padding: 2em;
  }
}

@media (min-width: 56.25em) {
  .wrap-golden {
    padding-left: 0;
    padding-right: 0;
    width: 61.8%;
  }
}

@media (min-width: 61.8em) {
  .wrap-half {
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }
}

.aspect-ratio-56 {
  padding-top: 56.25%;
}

.aspect-ratio-67 {
  padding-top: 66.7%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex .center {
  margin: auto;
}

.hide {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-1 {
  padding: 1em;
}

.padding-top-2 {
  padding-top: 2em;
}

.padding-bottom-2 {
  padding-bottom: 2em;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.max-width-8 {
  max-width: 8em;
}

.max-width-10 {
  max-width: 10em;
}

.max-width-16 {
  max-width: 16em;
}

.max-width-20 {
  max-width: 20em;
}

.max-width-25 {
  max-width: 25em;
}

.max-width-33 {
  max-width: 33.3em;
}

.max-width-40 {
  max-width: 40em;
}

.min-height-20 {
  min-height: 20em;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-minus-1 {
  z-index: -1;
}

.overflow-x {
  overflow-x: hidden;
}

.overflow-y {
  overflow-y: hidden;
}

.lines {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='2'><rect width='1' height='1' x='0' y='0' fill='rgba(0,0,0,0.5)'/></svg>");
  background-size: 1px 2px;
}

.bars {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='4'><rect width='1' height='2' x='0' y='0' fill='rgba(0,0,0,0.2)'/></svg>");
  background-size: 1px 4px;
}

.dots {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2'><rect width='1' height='1' x='0' y='0' fill='rgba(0,0,0,1)'/></svg>");
  background-size: 2px 2px;
}

.noise {
  background: url(../img/noise.png);
}

.background-black {
  background: black;
}

.background-grey {
  background: #ababab;
}

.background-lightgrey {
  background: #d5d5d5;
}

.background-white {
  background: white;
}

.highlight-white ::selection {
  background: white;
}