* {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

body {
  font-size: 125%;
  font-weight: 400;
  line-height: 1.414;
  color: #333333;
}

@media (min-width: 25em) {
  body {
    font-size: 141.4%;
  }
}

@media (min-width: 35.4em) {
  body {
    font-size: 161.8%;
  }
}

@media (min-width: 56.5em) {
  body {
    font-size: 177.7%;
  }
}

::selection {
  background: rgba(238,238,238,1);
}

a,
button {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: blue;
}

a:hover,
a:active,
a:focus {
  color: #333333;
}

a:focus {
  background: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-size: 1.414em;
  line-height: 1.25;
}

blockquote {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

img,
svg,
picture,
canvas {
  width: 100%;
  display: block;
}

body * + * {
  margin-top: 1em;
}

nav ul * + *,
picture * + * {
  margin-top: 0;
}

code {
  font-family: Consolas, Menlo, Courier, monospace;
}

code span {
  padding-left: 1em;
}
