* {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

body {
  font-size: 133.3%;
  font-weight: 400;
  line-height: 1.414;
  color: #333333;
}

@media (min-width: 33.3em) {
  body {
    font-size: 141.4%;
  }
}

@media (min-width: 50em) {
  body {
    font-size: 150%;
  }
}

@media (min-width: 61.8em) {
  body {
    font-size: 161.8%;
  }
}

@media (min-width: 96em) {
  body {
    font-size: 200%;
  }
}

body * + * {
  margin-top: 1em;
}

img,
picture,
video,
svg {
  width: 100%;
  display: block;
}

a,
button,
input {
  text-decoration: underline;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: #0413a2;
}

a:hover,
a:focus,
button:hover,
button:focus {
  color: initial;
  background: #fbec5d;
}

::selection {
  color: initial;
  background: #fbec5d;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-size: 1.414em;
  line-height: 1.25;
}

blockquote {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

code {
  font-family: Consolas, Menlo, Courier, monospace;
}

code span {
  padding-left: 1em;
}
