* {

  /* inherit type properties */

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;

  /* reset block-level elements */

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  /* system fonts */

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, sans-serif;
}

body {

  /* base type styles */

  font-size: 141.4%;
  font-weight: 400;
  line-height: 1.414;
  color: #333333;
}

@media (max-width: 33.3em) {

  /* scale down on small screens */

  body {
    font-size: 112.5%;
  }
}

@media (min-width: 40em) {

  /* scale up on medium screens */

  body {
    font-size: 161.8%;
  }
}

@media (min-width: 80em) {

  /* scale up on large screens */

  body {
    font-size: 200%;
  }
}

body * + * {

  /* block-level element margins */

  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {

  /* set secondary type styling */

  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25em;
}

p {

  /* paragraph measure */

  max-width: 25em;
}

ul {

  /* remove list styling */

  list-style-type: none;
}

img {

  /* responsive images */

  width: 100%;
  display: block;
}

a {

  /* set link styling... */

  color: #0413a2;
}

a:focus,
a:hover,
a:active {

  /* ...and interaction */

  text-decoration: none;
  color: initial;
  background: #fbec5d;
  outline: 0;
}

::selection {

  /* highlight */

  background: #d5d5d5;
}