@media (min-width: 96em) {
  body {
    font-size: 225%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  background: cyan;
}

.color-cyan {
  color: cyan;
}

.background-cyan {
  background: cyan;
}

@media (min-width: 61.8em) {
  .wrap-half {
    width: 50%;
    padding-left: 0;
    padding-right: 0;
  }
}

.menu {
  border-bottom: 4px solid;
}

.menu-item a {
  border-bottom: 4px solid;
  text-decoration: none;
}

.menu-item:last-child a {
  border-bottom: 0;
}

@media (min-width: 61.8em) {
  .menu {
    display: flex;
    height: 100vh;
    min-height: 25em;
  }
  .menu-item {
    width: 25%;
    height: 100%;
    border-right: 4px solid;
  }

  .menu-item a {
    height: 100%;
    border-bottom: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
  }

  .menu-item:last-child {
    border-right: 0;
  }

  .menu-item span {
    transform: rotate(90deg);
    margin: auto;
  }
}

.input {
  background: white;
}

.button {
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: #d5d5d5;
}

::placeholder {
  color: black;
}

input,
button {
  background: transparent;
  border: 4px solid black;
  padding: 0.5em 1em;
  border-radius: 0;
  box-shadow: none;
}

input:active,
input:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}