.liberation {
  font-family: "Liberation Serif Italic", Georgia, serif;
}

@font-face {
  font-family: "Liberation Serif Italic";
  font-style: italic;
  src:  url("../woff/liberation-serif-italic.woff") format("woff");
}
