@media (max-width: 33.3em) {
  body {
    font-size: 112.5%;
  }
}

::selection {
  color: initial;
  background: transparent;
}

a {
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: initial;
  background: transparent;
}

.color-metallicseaweed {
  color: #0a7e8c;
}

.background-metallicseaweed {
  background: #0a7e8c;
}

@media (min-width: 61.8em) {
  .wrap {
    padding: 2.618em 0;
    width: 75%;
  }
}

.menu {
  padding-top: 0;
  margin-top: -3.6em;
}

.menu .wrap {
  padding: 1.414em;
}

.menu {
  padding-top: 0;
  margin-top: -3.6em;
}

.menu .wrap {
  padding: 1.414em;
}

.logo,
.logo:before,
.logo:after,
.logo-menu {
  font-size: 1em;
  width: 4em;
  height: 4em;
  border: 0;
  border-radius: 50%;
}

.logo-small,
.logo-small:before,
.logo-small:after {
  width: 3em;
  height: 3em;
}

.logo-metallicseaweed.logo-static {
  background: #0a7e8c;
}

.logo-metallicseaweed.logo-sonar:before,
.logo-metallicseaweed.logo-sonar:after {
  background: #0a7e8c;
}

.logo-white.logo-sonar:before,
.logo-white.logo-sonar:after {
  background: #ffffff;
}

.logo-sonar:before,
.logo-sonar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

.logo-sonar:before {
  animation: 2500ms sonar cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  cursor: default;
}

@keyframes sonar {
  from {
    opacity: 0.333;
  }

  to {
    opacity: 0;
    transform: scale(8);
  }
}

.logotype {
  font-size: 4em;
  line-height: 1.25;
}

.waves {
  background: url('../img/waves-960.jpg') no-repeat center center;
  background-size: cover;
}

@media (min-width: 61.8em) {
  .waves {
    background: url('../img/waves-1440.jpg') no-repeat center center;
    background-size: cover;
  }
}

.waves-masthead {
  height: 4em;
  bottom: -2em;
}

.control {
  background: url('../img/control-960.jpg') no-repeat;
}

@media (min-width: 61.8em) {
  .control {
    background: url('../img/control-1440.jpg') no-repeat;
  }
}

.rov {
  background: url('../img/rov-960.jpg') no-repeat;
}

@media (min-width: 61.8em) {
  .rov {
    background: url('../img/rov-1440.jpg') no-repeat;
  }
}

.typescale li {
  padding-top: 2.827em;
}

.figure-colors {
  box-shadow: 0 0 1.414em rgba(0,0,0,0.125);
}

.figure-gradient {
  perspective: 33em;
}

.gradient:after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(to right, #ffffff 0%,#0a7e8c 50%,#000000 100%);
  width: 66.7%;
  height: 50%;
  box-shadow: 0 0 1.414em rgba(0,0,0,0.333);
  transform: rotateX(33deg);
}

.gallery li {
  margin-top: 0;
  margin-right: 1em;
}

.gallery li:last-of-type {
  margin-right: 0;
}

.clip {
  background: #ffffff;
}
.clip__mask {
  border: 0.5em solid white;
}
.clip__mask-one {
  bottom: auto;
  right: auto;
  width: 66.666%;
  height: 58.6%;
  background-size: 150%;
  border-left: 0;
}
.clip__mask-two {
  top: 25%;
  bottom: auto;
  left: auto;
  width: 33.333%;
  height: 50%;
  background-size: 312.5%;
  background-position: center right;
  border-right: 0;
}
.clip__mask-three {
  top: auto;
  right: auto;
  left: 33.333%;
  width: 33.333%;
  height: 41.4%;
  background-size: 300%;
  background-position: center bottom;
}

.button {
  padding: 0.5em 1em;
}

.button:hover,
.button:focus {
  background: white;
  text-decoration: underline;
}

input {
  border: 0;
}

input:active,
input:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

::placeholder {
  color: white;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 61.8em) {
  .form {
    width: 75%;
  }
}
