a.link {
  color: #ff3700;
  text-decoration: none;
}

a.link:focus,
a.link:hover,
a.link:active {
  color: initial;
  background: transparent;
}

.highlight-skyblue ::selection {
  color: #00c8ff;
  background: transparent;
}

.player__button {
  border: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: black;
}

.is-playing .player__button,
.is-playing .placeholder {
  visibility: hidden;
  opacity: 0;
}

.border {
  border: 0.125em solid;
}

.background-antiflash {
  background: #f2f3f4;
}

/* placeholder */

.placeholder:before,
.placeholder:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 200%;
  height: 0.125em;
  margin-left: -50%;
  background: black;
  transition: 250ms rotate;
}

.placeholder:before {
  transform: rotate(-29.7deg);
}

.placeholder:after {
  transform: rotate(29.7deg);
}

/* zoomIn */

.t-zoomIn {
  transform: scale(0);
}

.is-playing .t-zoomIn {
  transform: scale(1);
  transition: 3000ms transform cubic-bezier(0.19, 1, 0.22, 1.618);
}

/* zoomOut50 */

.t-zoomOut50 {
  transform: scale(1);
}

.is-playing .t-zoomOut50 {
  transform: scale(0.5);
  transition: 4000ms transform cubic-bezier(0.77, 0, 0.175, 1);
}

/* zoomOut25 */

.t-zoomOut25 {
  transform: scale(1);
  opacity: 0;
  visibility: hidden;
}

.is-playing .t-zoomOut25 {
  transform: scale(0.75);
  transition: 6000ms transform linear;
  opacity: 1;
  visibility: visible;
}


/* rotate360 */

.t-rotate360 {
  transform: rotate(0);
}

.is-playing .t-rotate360 {
  transform: rotate(360deg);
  transition: 4000ms transform linear;
}

/* deadAirspace */

.noise {
  height: 400%;
  left: -100%;
  top: -100%;
  width: 400%;
}

.is-playing .noise {
  opacity: 0.5;
  animation: noise 6000ms steps(10) infinite;
}

/* theVerge */

.verge {
  width: 75%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
}

.is-playing .verge {
  animation: 250ms fadeIn linear forwards, 250ms zoomIn ease-out forwards;
}

.oculus {
  background: url('../img/oculus.jpg');
  background-size: contain;
  background-position: top center;
  background-repeat: repeat-y;
  height: 300%;
  margin: 0;
}

.is-playing .oculus {
  background-position: top right;
  transform: translateY(-66.7%);
  transition: 5000ms transform linear;
  transform-origin: top center;
}

@keyframes placeholderBefore {
  from {
    transform: rotate(-29.7deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes placeholderAfter {
  from {
    transform: rotate(29.7deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.is-playing .rotatePerspective {
  animation: 4000ms rotatePerspective linear forwards;
}

@keyframes rotatePerspective {
  0% {
    transform: rotateY(-30deg) rotateX(30deg);
  }

  50% {
    transform: rotateY(30deg) rotateX(-30deg);
  }

  100% {
    transform: rotateY(-30deg) rotateX(30deg);
  }
}

@keyframes noise {
  0%, 100% {
    transform:translate(0, 25%);
  }

  10% {
    transform:translate(-5%, -10%);
  }

  20% {
    transform:translate(-5%, 25%);
  }
  
  30% {
    transform:translate(5%, -15%);
  }
  
  40% {
    transform:translate(-5%, 25%);
  }
  
  50% {
    transform:translate(-15%, 10%);
  }
  
  60% {
    transform:translate(15%, 0%);
  }
  
  70% {
    transform:translate(0%, 15%);
  }
  
  80% {
    transform:translate(5%, 25%);
  }
  
  90% {
    transform:translate(-10%, 10%);
  }
}











