.test-card {
  width: 4em;
  height: 2.827em;
  margin: 2.828em auto;
  background: linear-gradient(to right, #333333 0%, #333333 62.4%, #ffffff 62.5%, #ffffff 87.4%, #333333 87.5%, #333333 100%);
  transform: rotateY(-11.25deg) rotateX(15deg);
  animation: 6000ms rotate3D cubic-bezier(0, 0.25, 0.75, 0.75) infinite;
}

.test-card:after {
  content: '';
  height: 2.327em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #0247fe 0%, #0247fe 24.9%, #ff0090 25%, #ff0090 49.9%, #ffef00 50%, #ffef00 74.9%, #0bda51 75%, #0bda51 100%);
}

@keyframes rotate3D {
  0% {
    transform: rotateY(-11.25deg) rotateX(15deg);
  }

  25% {
    transform: rotateY(-11.25deg) rotateX(-15deg);
  }

  50% {
    transform: rotateY(11.25deg) rotateX(-15deg);
  }

  75% {
    transform: rotateY(11.25deg) rotateX(15deg);
  }

  100% {
    transform: rotateY(-11.25deg) rotateX(15deg);
  }
}

@media (min-width: 70.7em) {
  .ad.wrap {
    width: 100%;
    padding: 2em;
  }
}

.ad__loader.wrap,
.ad__copy.wrap {
  width: 100%;
  padding: 0.5em;
}

.ad > * {
  border: 2px solid;
  cursor: pointer;
}

.ad__background {
  opacity: 0.414;
  transform: scale(1);
  transform-origin: center;
  transition: 1500ms opacity 3500ms linear, 5000ms transform;
}

.ad__content.is-loading .ad__background {
  opacity: 0.618;
  transform: scale(1.5);
}

.ad__headline,
.ad__cta {
  opacity: 1;
  transition: 1000ms opacity 3500ms linear;
}

.ad__headline {
  margin: 0.5em 0 0;
}

.ad__cta {
  color: #ffffff;
  padding: 0.707em 1.5em;
  background: rgba(51,51,51,0.777);
  display: inline-block;
}

.ad > *:hover .ad__cta {
  outline: 2px solid;
}

.ad__content.is-loading .ad__headline,
.ad__content.is-loading .ad__cta {
  opacity: 0;
  visibility: hidden;
}

.ad__logo {
  width: 5.65em;
  height: 5.65em;
  transform: scale(0.5) translateY(100%);
  transform-origin: bottom;
  transition: 500ms transform 3500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ad__logo-p1 {
  transform: scale(1) rotate(0);
  transition: 500ms transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ad__logo-p2 {
  transform: scale(1);
  transition: 750ms transform 250ms cubic-bezier(0.25, 0.46, 0.45, 1.75);
}

.ad__content.is-loading .ad__logo {
  transform: scale(1) translateY(0);
}

.ad__content.is-loading .ad__logo-p1 {
  transform: scale(0.618) rotate(-60deg);
}

.ad__content.is-loading .ad__logo-p2 {
  transform: scale(0.618);
}

.ad__loader {
  background: #333333;
  opacity: 0;
  transition: 500ms all 250ms linear;
}

.ad__content.is-loading + .ad__loader {
  opacity: 1;
}

.ad__loader:before,
.ad__loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto auto -50%;
  width: 200%;
  height: 1px;
  background: #ffffff;
  opacity: 0;
  transition: 500ms all 250ms;
}

.ad__content.is-loading + .ad__loader:before {
  transform: rotate(-45deg);
  opacity: 1;
}

.ad__content.is-loading + .ad__loader:after {
  transform: rotate(45deg);
  opacity: 1;
}

@media (min-width: 60em) {
  .ad__content.is-loading + .ad__loader:before {
    transform: rotate(-33.666deg);

  }

  .ad__content.is-loading + .ad__loader:after {
    transform: rotate(33.666deg);
  }
}

.ad__replay {
  z-index: 1;
}

.ad__replay:hover,
.ad__replay:active,
.ad__replay:focus {
  background: transparent;
}

.lines {
  background: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 1px, rgba(0,0,0,0.75) 1px, rgba(0,0,0,0.75) );
  background-size: 100% 2px;
}

@media (min-width: 61.8em) {
  .lines {
    background: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 1px, rgba(0,0,0,0.75) 1px, rgba(0,0,0,0.75) );
    background-size: 100% 2px;
  }
}

.player__button {
  width: 100%;
  border: 0;
  padding: 0;
  z-index: 1;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.player__button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 4em;
  height: 4em;
  border: 3px solid;
  border-radius: 50%;
}

.is-playing .player__button {
  visibility: hidden;
  opacity: 0;
}

.verge {
  width: 75%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
}

.is-playing .verge {
  animation: 250ms fadeIn linear forwards, 250ms zoomIn ease-out forwards;
}

.oculus {
  background: url('../img/oculus.jpg');
  background-size: contain;
  background-position: top center;
  background-repeat: repeat-y;
  height: 400%;
  margin: 0;
}

.is-playing .oculus {
  background-position: top right;
  transform: translateY(-75%);
  transition: 6000ms transform linear;
  transform-origin: top center;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
