.lines {
  background: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 1px, rgba(0,0,0,0.75) 1px, rgba(0,0,0,0.75) );
  background-size: 100% 2px;
}

@media (min-width: 61.8em) {
  .lines {
    background: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,0) 1px, rgba(0,0,0,0.75) 1px, rgba(0,0,0,0.75) );
    background-size: 100% 2px;
  }
}

.player__button {
  border: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.player__button:hover,
.player__button:focus {
  color: #fbec5d;
  background: transparent;
}

.is-playing .player__button {
  visibility: hidden;
  opacity: 0;
}

.verge {
  width: 75%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
}

.is-playing .verge {
  animation: 250ms fadeIn linear forwards, 250ms zoomIn ease-out forwards;
}

.oculus {
  background: url('../img/oculus.jpg');
  background-size: contain;
  background-position: top center;
  background-repeat: repeat-y;
  height: 300%;
  margin: 0;
}

.is-playing .oculus {
  background-position: top right;
  transform: translateY(-66.7%);
  transition: 3333ms transform linear;
  transform-origin: top center;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
