* {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: #dddddd;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

body {
  font-size: 125%;
  font-weight: 400;
  line-height: 1.414;
  color: #333333;
}

@media (min-width: 25em) {
  body {
    font-size: 141.4%;
  }
}

@media (min-width: 40em) {
  body {
    font-size: 161.8%;
  }
}

@media (min-width: 61.8em) {
  body {
    font-size: 161.8%;
  }
}

@media (min-width: 96em) {
  body {
    font-size: 200%;
  }
}

body * + * {
  margin-top: 1em;
}

a,
button {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border: 0;
  cursor: pointer;
  color: blue;
}

a:hover,
a:active,
a:focus {
  color: #333333;
}

a:focus {
  background: #dddddd;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-size: 1.414em;
  line-height: 1.25;
}

blockquote {
  margin-bottom: 1em;
}

ul {
  list-style-type: none;
}

img,
picture,
video {
  width: 100%;
  display: block;
}

code {
  font-family: Consolas, Menlo, Courier, monospace;
}

code span {
  padding-left: 1em;
}

.h1 {
  font-size: 2.827em;
}

.h2 {
  font-size: 2.618em;
}

.h3 {
  font-size: 2.25em;
}

.h4 {
  font-size: 2em;
}

.h5 {
  font-size: 1.777em;
}

.h6 {
  font-size: 1.618em;
}

.h7 {
  font-size: 1.5em;
}

.h8 {
  font-size: 1.414em;
}

.h9 {
  font-size: 1.333em;
}

.h10 {
  font-size: 1.25em;
}

.h11 {
  font-size: 1em;
}

.h12 {
  font-size: 0.875em;
}

.h13 {
  font-size: 0.8em;
}

.h14 {
  font-size: 0.75em;
}

.h15 {
  font-size: 0.707em;
}

.h16 {
  font-size: 0.618em;
}

.h17 {
  font-size: 0.5em;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.0618em;
}

.lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.color-black {
  color: black;
}

.color-darkgrey {
  color: #333333;
}

.color-grey {
  color: #999999;
}

.color-lightgrey {
  color: #dddddd;
}

.color-white {
  color: white;
}

.color-blue {
  color: blue;
}

.font-smooth {
  -webkit-font-smoothing: antialiased;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.relative,
.absolute {
  margin: 0;
}

.relative {
  position: relative;
}

.relative.center {
  margin: 0 auto;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.absolute.center {
  margin: auto;
}

.margin-0 {
  margin: 0;
}

.top-auto {
  top: auto;
}

.left-auto {
  left: auto;
}

.bottom-auto {
  bottom: auto;
}

.right-auto {
  right: auto;
}

.aspect-ratio {
  padding-top: 100%;
}

@media (min-width: 61.8em) {
  .aspect-ratio {
    padding-top: 66.7%;
  }
}

.overflow-x {
  overflow-x: hidden;
}

.overflow-y {
  overflow-y: hidden;
}

.hide {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-around {
  justify-content: space-around;
}

.flex-align-center {
  align-items: center;
}

.flex > .center {
  margin: auto;
}

.flex-end {
  align-self: flex-end;
}

.background-black {
  background: black;
}

.background-darkgrey {
  background: #333333;
}

.background-grey {
  background: #999999;
}

.background-lightgrey {
  background: #dddddd;
}

.background-white {
  background: white;
}

.background-blue {
  background: blue;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.max-width-1 {
  max-width: 10em;
}

.max-width-2 {
  max-width: 12.5em;
}

.max-width-3 {
  max-width: 17.7em;
}

.max-width-4 {
  max-width: 18.75em;
}

.max-width-5 {
  max-width: 22.5em;
}

.max-width-6 {
  max-width: 25em;
}

.max-width-7 {
  max-width: 28.27em;
}

.max-width-8 {
  max-width: 33.3em;
}

.min-height-1 {
  min-height: 20em;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-minus-1 {
  z-index: -1;
}

.wrap {
  padding: 1.414em;
}

@media (min-width: 40em) {
  .wrap {
    padding: 2em;
  }
}

@media (min-width: 61.8em) {
  .wrap {
    width: 61.8%;
    padding: 2.618em 0;
  }
}
