/* layout */

header p,
section {
  max-width: 18em;
}

main,
aside {
  padding-top: 6em;
}

section {
  padding-top: 2.25em;
}

footer {
  padding-top: 10.5em;
}

@media (min-width: 23em) {
  body {
    font-size: 112.5%;
  }
}

@media (min-width: 32em) {
  body {
    font-size: 120%;
    padding: 11.25vw;
  }

  header,
  main,
  aside,
  article,
  footer {
    position: relative;
    margin: 0 auto;
  }
}

@media (min-width: 45em) {
  body {
    font-size: 100%;
    padding: 7.5vw;
  }

  header,
  main,
  aside,
  article,
  footer {
    max-width: 40em;
  }

  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .flex h1 {
    flex: 1 100%;
  }

  .flex section {
    width: 50%;
  }

  footer > div {
    margin: 0 auto;
  }
}

@media (min-width: 50em) {
  body {
    font-size: 112.5%;
  }
}

@media (min-width: 60em) {
  body {
    font-size: 120%;
  }
}

@media (min-width: 90em) {
  body {
    font-size: 125%;
  }
}

/* type */

.h1 {
  font-size: 1.25em;
  line-height: 1.2;
  margin-bottom: 0;
}

.h2 {
  font-size: 1.125em;
  line-height: 1.333;
  margin: 0;
}

.h3 {
  font-weight: 400;
  font-style: italic;
  margin-top: 0;
}

.h4 {
  font-size: 0.875em;
  margin-bottom: 0;
}

.h5 {
  font-size: 0.75em;
}

.h4,
.h5 {
  text-transform: uppercase;
  letter-spacing: 0.075em;
}

/* webfonts */

@font-face {
  font-family: "Charter";
  font-weight: 400;
  src:  url("../fonts/charterregular.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: 400;
  font-style: italic;
  src:  url("../fonts/charteritalic.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: 700;
  src:  url("../fonts/charterbold.woff") format("woff");
}

body {
  font-family: "Charter",georgia,serif;
}

/* footer */

.headshot {
  position: relative;
  width: 120px;
  height: 120px;
}

.vox-media-logo {
  width: 48px;
}

/* player */

.animation {
  width: 15em;
  height: 11.25em;
}

.player {
  position: relative;
  background: #000000;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.play {
  width: 60px;
  height: 60px;
  margin: auto;
  border: 0;
  border-radius: 50%;
  background: #0247fe;
  padding: 3px;
  z-index: 1;
}

.play:hover,
.play:active,
.play:focus {
  background: #000000;
}

.play svg {
  margin: auto;
}

.is-playing .play {
  visibility: hidden;
  opacity: 0;
}

.oculus {
  max-height: 100%;
  left: auto;
  opacity: 0;
  visibility: hidden;
}

.oculus-frames {
  background: url('../img/oculus.jpg');
  background-size: 75%;
  background-position: top right;
  background-repeat: repeat-y;
  height: 400%;
}

.verge-logo {
  width: 75%;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
}

.lines {
  background: linear-gradient( to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25) 1px, rgba(0,0,0,0.75) 1px, rgba(0,0,0,0.75) );
  background-size: 100% 2px;
}

.is-playing .oculus-frames {
  background-position: top right;
  transform: translateY(-75%);
  transition: 6s transform linear;
  transform-origin: top center;
}

.is-playing .verge-logo {
  animation: 250ms fadeIn linear forwards, 250ms zoomIn linear forwards;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* utility classes */

.u-fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.u-hide {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
