.logo,
.logo:before,
.logo:after {
  font-size: 1em;
  width: 4em;
  height: 4em;
  border: 0;
  border-radius: 50%;
}

.logo-white.logo-sonar:before,
.logo-white.logo-sonar:after {
  background: #ffffff;
}

.logo-sonar:before,
.logo-sonar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

.logo-sonar:before {
  animation: 2500ms sonar cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  cursor: default;
}

@keyframes sonar {
  from {
    opacity: 0.333;
  }

  to {
    opacity: 0;
    transform: scale(8);
  }
}
