body {
  font-size: 112.5%;
  font-weight: 400;
  line-height: 1.414;
  color: #0a7e8c;
}

.reverse {
  color: #ffffff;
  background: #0a7e8c;
}

@media (min-width: 45em) {
  body {
    font-size: 141.4%;
  }
}

@media (min-width: 75em) {
  body {
    font-size: 200%;
  }
}

body * + * {
  margin-top: 1.414em;
}

li,
picture * + * {
  margin-top: 0;
}

.wrap {
  padding: 1.414em;
}

@media (min-width: 40em) {
  .wrap {
    padding: 4em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.414em;
  line-height: 1.25;
}

a {
  border-bottom: 2px solid;
}

a:hover,
a:focus,
::selection {
  color: initial;
  background: transparent;
}

code {
  font-family: Consolas, Menlo, Courier, monospace;
  max-width: 40em;
}

.logotype {
  font-size: 4em;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.414em;
  max-width: 18.56em;
}

.h3 {
  font-size: 1em;
}

.p {
  max-width: 25em;
}

.small {
  font-size: 0.707em;
}

.logo,
.logo:before,
.logo:after,
.menu {
  font-size: 1em;
  width: 4em;
  height: 4em;
  border: 0;
  border-radius: 50%;
}

.logo-seaweed.logo-static {
  background: #0a7e8c;
}

.logo-seaweed.logo-sonar:before,
.logo-seaweed.logo-sonar:after {
  background: #0a7e8c;
}

.logo-white.logo-sonar:before,
.logo-white.logo-sonar:after {
  background: #ffffff;
}

.logo-sonar:before,
.logo-sonar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

.logo-sonar:before {
  animation: 2500ms sonar cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  cursor: default;
}

@keyframes sonar {
  from {
    opacity: 0.25;
  }

  to {
    opacity: 0;
    transform: scale(8);
  }
}

.waves {
  background: url('waves-960.jpg') no-repeat center center;
  background-size: cover;
}

@media (min-width: 60em) {
  .waves {
    background: url('waves-1440.jpg') no-repeat center center;
    background-size: cover;
  }
}

.control {
  background: url('control-960.jpg') no-repeat;
}

@media (min-width: 60em) {
  .control {
    background: url('control-1440.jpg') no-repeat;
  }
}

.nav {
  margin-top: -4em;
}

.nav h1,
.nav ul  {
  text-align: center;
}

.nav ul {
  padding-bottom: 4em;
}

.nav ul a {
  border: 0;
}

.nav li.current {
  color: initial;
}

.main__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main__header a {
  margin: 0;
  border: 0;
}

.typescale li {
  padding-bottom: 0;
}

.colors {
  perspective: 40em;
}

.gradient:after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(to right, #ffffff 0%,#0a7e8c 50%,#000000 100%);
  width: 70.07%;
  height: 50%;
  box-shadow: 0 0 1.414em #000000;
  transform: rotateX(33deg);
}

.gallery {
  list-style-type: none;
}

.gallery li {
  margin-right: 1em;
}

.gallery li:last-of-type {
  margin-right: 0;
}

.clip {
  background: #ffffff;
}

.clip__mask {
  border: 0.5em solid white;
}

.clip__mask-one {
  bottom: auto;
  right: auto;
  width: 66.666%;
  height: 58.6%;
  background-size: 150%;
  border-left: 0;
}

.clip__mask-two {
  top: 25%;
  bottom: auto;
  left: auto;
  width: 33.333%;
  height: 50%;
  background-size: 312.5%;
  background-position: center right;
  border-right: 0;
}

.clip__mask-three {
  top: auto;
  right: auto;
  left: 33.333%;
  width: 33.333%;
  height: 41.4%;
  background-size: 300%;
  background-position: center bottom;
}
