* {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

a,
button {
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  border: 0;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
}

img,
svg,
picture {
  width: 100%;
  display: block;
}
