/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base styles */

body {
  font-size: 1em;
  line-height: 1.5;
  color: #333333;
  padding: 1.5em;
  padding: 6.666vw;
}

@media (min-width: 22.5em) {
  body {
    font-size: 4.444vw;
  }
}

@media (min-width: 30em) {
  body {
    font-size: 1.25em;
  }
}

@media (min-width: 45em) {
  body {
    font-size: 1em;
    font-size: 2.222vw;
  }
}

@media (min-width: 50em) {
  body {
    font-size: 1.125em;
    font-size: 2.222vw;
  }
}

@media (min-width: 56.25em) {
  body {
    font-size: 1.25em;
  }
}

p {
  max-width: 18em;
  margin: 1em 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  font: inherit;
  color: #0247fe;
  text-decoration: none;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background: transparent;
}

a:active,
a:focus,
button:active,
button:focus,
::selection {
  background: #ffff66;
  color: initial;
}

button {
  line-height: 1;
  border: 1px solid;
  padding: 0.75em 1.25em;
  display: block;
}

header {
  padding-bottom: 4.5em;
}

main {
  max-width: 40em;
  padding-bottom: 11.25em;
}

section {
  max-width: 22.5em;
  padding-top: 2.25em;
}

img {
  max-width: 100%;
}

figure {
  max-width: 30em;
}

figcaption {
  margin-top: 1em;
}

time {
  margin-bottom: 0.75em;
}

/* fonts */

.sans {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

.mono {
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.serif {
  font-family: "Charter",Georgia,serif;
}

@font-face {
  font-family: "Charter";
  font-weight: 400;
  src:  url("charterregular.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: 400;
  font-style: italic;
  src:  url("charteritalic.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  font-weight: 700;
  src:  url("charterbold.woff") format("woff");
}

/* type scale */

.h1 {
  font-size: 1.5em;
  line-height: 1.25;
}

.h2 {
  font-size: 1.25em;
  line-height: 1.2;
}

.h3 {
  font-size: 1.125em;
  line-height: 1.333;
}

.h4 {
  font-size: 1em;
  line-height: 1.5;
}

.h5 {
  font-size: 0.875em;
  line-height: 1.2857;
}

.h6 {
  font-size: 0.75em;
  line-height: 1.333;
}

.h7 {
  font-size: 0.625em;
  line-height: 1.2;
}

.h5,
.h6,
.h7 {
  -webkit-text-size-adjust: 100%;
}

/* functional classes */

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.block {
  display: block;
}

.contain {
  position: relative;
  width: 100%;
}

.contain.center {
  margin: 0 auto;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.fill.center {
  margin: auto;
}

.hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}

@media (min-width: 45em) {
  .flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .flex h1 {
    flex: 1 100%;
  }

  .flex section {
    width: 45%;
  }
}

/* components */

.avatar {
  width: 6em;
  height: 6em;
  overflow: hidden;
}

.logo {
  width: 3em;
  height: 3em;
}

/* ad */

.ad {
  color: #ffffff;
  text-align: center;
  background: #000000;
}

.ad + main {
  padding-top: 2.25em;
}

#adContent {
  padding-top: 100%;
  overflow: hidden;
}

@media (min-width: 40em) {
  #adContent {
    padding-top: 75%;
  }
}

.ad__label,
.ad__headline,
.ad__cta,
.ad__cta:active,
.ad__cta:focus,
.ad__cta:hover {
  color: inherit;
}

.ad__label {
  margin-top: 2.4em;
}

.ad__headline,
.ad__cta {
  opacity: 1;
  visibility: visible;
  transition: 1000ms opacity 3500ms linear, 1000ms visibility 3500ms linear;
}

#adContent.is-loading .ad__headline,
#adContent.is-loading .ad__cta {
  opacity: 0;
  visibility: hidden;
}

.ad__headline {
  font-size: 2em;
  margin: 1em 0 0.25em;
}

.ad__cta {
  line-height: 1;
  padding: 0.75em 1.25em;
  display: inline-block;
  background: rgba(0,0,0,0.5);
}

.ad__cta:active,
.ad__cta:focus,
.ad__cta:hover {
  outline: 2px solid;
}

.ad__cta:active,
.ad__cta:focus {
  background: transparent;
}

.ad__logo {
  width: 6em;
  height: 6em;
  transform: scale(0.5) translateY(137.5%);
  transform-origin: bottom;
  transition: 500ms transform 3500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#adContent.is-loading .ad__logo {
  transform: scale(1) translateY(0);
}

.ad__logo-p1 {
  transform: scale(1) rotate(0);
  transition: 500ms transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.ad__logo-p2 {
  transform: scale(1);
  transition: 750ms transform 250ms cubic-bezier(0.25, 0.46, 0.45, 1.75);
}

#adContent.is-loading .ad__logo-p1 {
  transform: scale(0.5) rotate(-60deg);
}

#adContent.is-loading .ad__logo-p2 {
  transform: scale(0.5);
}

.ad__background {
  background: url('flatirons.jpg');
  background-size: cover;
  opacity: 0.6;
  transform: scale(1);
  transform-origin: center;
  transition: 1500ms opacity 3500ms linear, 5000ms transform;
}

#adContent.is-loading .ad__background {
  opacity: 0.8;
  transform: scale(1.5);
}

.ad__loader {
  color: #333333;
  border: 1px solid;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  transition: 500ms all 250ms linear;
}

.ad__loader .ad__label {
  transform: translateY(-1px);
  margin-bottom: 0.3em;
}


#adContent.is-loading + .ad__loader {
  opacity: 1;
  visibility: visible;
}

/* player */

.player {
  padding-top: 75%;
  background: #000000;
  overflow: hidden;
}

.player__button {
  width: 3.75em;
  height: 3.75em;
  border: 0;
  border-radius: 50%;
  background: #0247fe;
  padding: 0.1875em;
  z-index: 1;
}

.player__button:active,
.player__button:focus,
.player__button:hover {
  background: #000000;
}

.player__button svg {
  transform: translateX(0.1875em);
}

.is-playing .player__button {
  visibility: hidden;
  opacity: 0;
}

.verge {
  width: 75%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
}

.is-playing .verge {
  animation: 250ms fadeIn linear forwards, 250ms zoomIn ease-out forwards;
}

.oculus {
  background: url('oculus.jpg');
  background-size: 75%;
  background-position: top right;
  background-repeat: repeat-y;
  height: 400%;
}

.is-playing .oculus {
  background-position: top right;
  transform: translateY(-75%);
  transition: 5000ms transform linear;
  transform-origin: top center;
}

.lines {
  background: linear-gradient( to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.25) 1px, rgba(0,0,0,0.75) 1px, rgba(0,0,0,0.75) );
  background-size: 100% 2px;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
