* {
  /* set inheritance for type styling */
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  /* normalize layout */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* default to system fonts */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

a {
  /* reset link styling */
  text-decoration: none;
}

a:hover,
a:focus {
  /* reset link interaction states */
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

nav ul {
  /* reset navigation list styling */
  list-style-type: none;
}

nav ul * + * {
  /* override margins */
  margin-top: 0;
}

img,
svg,
picture {
  /* scale images and graphics */
  width: 100%;
  display: block;
}


body {
  /* primary type ratio */
  font-size: 150%;
  font-weight: 400;
  line-height: 1.5;
}

@media (min-width: 45em) {
  body {
    /* zoom in type */
    font-size: 200%;
  }
}

body * + * {
  /* set margin for successive block level elements */
  margin-top: 1.5em;
}

.wrap {
  /* set default padding */
  padding: 1.5em;
}

@media (min-width: 75em) {
  .wrap {
    /* increase padding */
    padding: 3em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* set secondary type ratio */
  font-size: 1.25em;
  line-height: 1.25;
}

a {
  /* default link color */
  color: #0247fe;
}

a:hover,
a:focus,
::selection {
  /* set default interaction colors */
  background: #ffef00;
  color: initial;
}

/* functional type classes */

.h1 {
  /* level one heading */
  font-size: 2em;
  max-width: 13.333em;
}

.h2 {
  /* level two heading */
  font-size: 1.5em;
  max-width: 15em;
}

.p {
  /* paragraph measure */
  max-width: 25em;
}

.light {
  /* light type */
  font-weight: 300;
}

.bold {
  /* bold type */
  font-weight: 700;
}

.uppercase {
  /* space all caps 5% */
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* functional layout classes */

.contain {
  /* parent element of .fill */
  position: relative;
  margin: 0 auto;
}

.fill {
  /* child element of .contain */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.hide {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}

.flex {
  /* set up flexbox */
  display: flex;
}

.flex > .center {
  /* flexbox absolute center */
  margin: auto;
}

@media (min-width: 50em) {
  .footer__nav ul {
    /* set up flexbox */
    display: flex;
  }

  .footer__nav li {
    /* default item margin */
    margin-right: 1.5em;
  }

  .footer__nav li:last-child {
    /* right align last item */
    position: relative;
    margin: 0 0 0 auto;
  }
}
