.infini {
  font-family: "Infini", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

@font-face {
  font-family: "Infini";
  font-weight: 400;
  src:  url("infini-regular.woff") format("woff");
}

@font-face {
  font-family: "Infini";
  font-weight: 400;
  font-style: italic;
  src:  url("infini-italic.woff") format("woff");
}

@font-face {
  font-family: "Infini";
  font-weight: 700;
  src:  url("infini-bold.woff") format("woff");
}

.infini-picto {
  font-family: "Infini Picto", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

@font-face {
  font-family: "Infini Picto";
  font-weight: 700;
  src:  url("infini-picto.woff") format("woff");
}

body {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.333;
  color: #0f0f0f;
  background: #f2f3f4;
}

@media (min-width: 33em) {
  body {
    font-size: 133%;
  }
}

@media (min-width: 41.4em) {
  body {
    font-size: 177%;
  }
}

@media (min-width: 66em) {
  body {
    font-size: 250%;
  }
}

body * + * {
  margin-top: 1.777em;
}

nav ul * + *,
picture * + *,
.tagline * + * {
  margin-top: 0;
}

.wrap {
  padding: 1.777em;
}

@media (min-width: 60em) {
  .wrap {
    padding: 2.369em;
  }
}

.logo {
  font-size: 5.6em;
  font-size: 17.7vw;
}

.tagline {
  font-size: 2.369em;
  margin-bottom: 2.369em;
}

.h1 {
  font-size: 1.777em;
}

.h2 {
  font-size: 1.333em;
}

.small {
  font-size: 0.75em;
}

.blockquote {
  padding-left: 1em;
}

.mw1 {
  max-width: 10em;
}

.mw2 {
  max-width: 23.69em;
}

.dark {
  color: #f2f3f4;
  background: #0f0f0f;
  -webkit-font-smoothing: antialiased;
}

a,
::selection {
  color: #ff3366;
}

a:hover,
a:active,
a:focus {
  box-shadow: inset 0 -3px 0 0 #ff3366;
}

.nav-home a:hover,
.nav-home a:active,
.nav-home a:focus {
  color: #0f0f0f;
  box-shadow: none;
}

.article {
  border-bottom: 3px solid;
}

.article:last-child {
  border-bottom: 0;
}

.article__time {
  margin-top: 1em;
}

.ad {
  width: 100%;
}

.ad__loader.wrap,
.ad__copy.wrap {
  padding: 0.75em;
}

.ad__caption-loader {
  margin-top: 0;
}

.ad__loader,
.ad__copy {
  border: 3px solid;
}

.ad__loader:before,
.ad__loader:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto auto auto -50%;
  width: 200%;
  height: 3px;
  background: #f2f3f4;
}

.ad__loader:before {
  transform: rotate(-45deg);
}

.ad__loader:after {
  transform: rotate(45deg);
}

.ad__content {
  font-size: 100%;
  padding-bottom: 100%;
}

@media (min-width: 25em) {
  .ad__content {
    font-size: 112.5%;
  }
}

@media (min-width: 60em) {
  .ad__loader:before {
    transform: rotate(-33.666deg);

  }

  .ad__loader:after {
    transform: rotate(33.666deg);
  }

  .ad__content {
    padding-bottom: 66.667%;
  }
}

@media (min-width: 56.3em) {
  .ad__content {
    font-size: 100%;
  }
}

@media (min-width: 77em) {
  .ad__content {
    font-size: 56.3%;
  }
}

.demo.flex {
  flex-direction: column;
}

.demo .ad:nth-of-type(odd) {
  margin-bottom: 1.777em;
}

.demo:nth-of-type(odd) {
  padding-bottom: 0;
}

@media (min-width: 77em) {
  .demo.flex {
    flex-direction: row;
  }

  .demo .ad:nth-of-type(odd) {
    margin-right: 2.369em;
    margin-bottom: 0;
  }

  .demo .ad {
    width: 50%;
  }
}

.ad__logo {
  top: auto;
  bottom: 0.563em;
}

.ad__logo,
.ad__tagline {
  font-size: 177%;
}

@media (min-width: 100em) {
  .ad__logo,
  .ad__tagline {
    font-size: 236.9%;
  }
}

.ad__tagline {
  margin-top: 0.563em;
}

.ad__background {
  opacity: 0.5;
}

.ad__cta {
  width: 4.2em;
  height: 4.2em;
  border-radius: 50%;
  border: 3px solid;
  background: #0f0f0f;
}

.emojis.flex {
  justify-content: space-around;
  align-items: center;
}

.emojis div {
  margin: 0;
  font-size: 2.369em;
}
