.infini {
  font-family: "Infini", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

@font-face {
  font-family: "Infini";
  font-weight: 400;
  src:  url("infini-regular.woff") format("woff");
}

@font-face {
  font-family: "Infini";
  font-weight: 400;
  font-style: italic;
  src:  url("infini-italic.woff") format("woff");
}

@font-face {
  font-family: "Infini";
  font-weight: 700;
  src:  url("infini-bold.woff") format("woff");
}

.infini-picto {
  font-family: "Infini Picto", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

@font-face {
  font-family: "Infini Picto";
  font-weight: 700;
  src:  url("infini-picto.woff") format("woff");
}

body {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.333;
  color: #0f0f0f;
  background: #f2f3f4;
}

@media (min-width: 33em) {
  body {
    font-size: 133%;
  }
}

@media (min-width: 41.4em) {
  body {
    font-size: 177%;
  }
}

@media (min-width: 66em) {
  body {
    font-size: 236.9%;
  }
}

body * + * {
  margin-top: 1.777em;
}

nav ul * + *,
picture * + *,
.tagline * + * {
  margin-top: 0;
}

.wrap {
  padding: 1.777em;
}

@media (min-width: 60em) {
  .wrap {
    padding: 2.369em;
  }
}

.logo {
  font-size: 5.6em;
  font-size: 17.7vw;
}

.tagline {
  font-size: 2.369em;
  margin-bottom: 2.369em;
}

.h1 {
  font-size: 1.777em;
}

.h2 {
  font-size: 1.333em;
}

.small {
  font-size: 0.75em;
}

.blockquote {
  padding-left: 1em;
}

.mw1 {
  max-width: 10em;
}

.mw2 {
  max-width: 23.69em;
}

.dark {
  color: #f2f3f4;
  background: #0f0f0f;
  -webkit-font-smoothing: antialiased;
}

a,
::selection {
  color: #ff3366;
}

a:hover,
a:active,
a:focus {
  box-shadow: inset 0 -3px 0 0 #ff3366;
}

.nav-home a:hover,
.nav-home a:active,
.nav-home a:focus {
  color: #0f0f0f;
  box-shadow: none;
}

.article {
  border-bottom: 3px solid;
}

.article:last-child {
  border-bottom: 0;
}

.article__time {
  margin-top: 1em;
}
