pre {
  font-family: Consolas, Menlo, Courier, monospace;
  font-size: 0.5em;
  font-weight: 400;
  max-width: 50em;
  margin-top: 3em;
  white-space: nowrap;
  width: 100%;
}

code {
  display: block;
}

code * + * {
  margin-top: 0;
}

code span {
  display: block;
  white-space: normal;
}

code span > span {
  margin-left: 1em;
}

figcaption {
  margin-top: 0.5em;
}

.lines {
  background: linear-gradient( to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 1px, rgba(0,0,0,0.8) 1px, rgba(0,0,0,0.8) );
  background-size: 100% 2px;
}

#animationPlayer {
  max-width: 20em;
  overflow: hidden;
}

.player__button {
  width: 100%;
  border: 0;
  padding: 0;
  z-index: 1;
  background: transparent;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.player__button svg {
  fill: #ffffff;
  width: 25%;
}

.player__button:hover svg,
.player__button:focus svg {
  fill: #0247fe;
}

.is-playing .player__button {
  visibility: hidden;
  opacity: 0;
}

.verge {
  width: 75%;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5);
  transform-origin: center;
}

.is-playing .verge {
  animation: 250ms fadeIn linear forwards, 250ms zoomIn ease-out forwards;
}

.oculus {
  background: url('oculus.jpg');
  background-size: contain;
  background-position: top center;
  background-repeat: repeat-y;
  height: 400%;
  margin: 0;
}

.is-playing .oculus {
  background-position: top right;
  transform: translateY(-75%);
  transition: 6000ms transform linear;
  transform-origin: top center;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#noise {
    display: block;
    margin-top: 3em;
    border-radius: 50%;
}
