<!DOCTYPE html>
<html lang="en-US" class="height-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore with us | World Oceans Day (prototype) | Undercurrent</title>
    <meta content="An open source digital identity for ocean exploration at National Oceanic and Atmospheric Administration" name="description">
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/functional.css" rel="stylesheet">
    <link href="../../css/noaa.css" rel="stylesheet">
  </head>
  <body class="color-metallicseaweed">
    <div class="background-metallicseaweed">
      <div class="relative center wrap">
        <form class="form relative center">
          <input class="h3 block input color-white antialiased width-100" type="text" name="email" placeholder="Enter your email">
          <button class="button h5 bold uppercase text-decoration-none color-metallicseaweed background-white">Subscribe</button>
        </form>
      </div>
    </div>
    <figure class="relative background-metallicseaweed">
      <div class="relative center wrap padding-bottom-0">
        <picture>
          <source media="(min-width: 61.8em)" srcset="../../img/waves-1440.jpg">
          <source srcset="../../img/waves-960.jpg">
          <img class="relative" src="../../img/waves-1440.jpg" alt="Waves">
        </picture>
      </div>
    </figure>
    <div class="relative wrap center">
      <p><a href="index.html">&larr; Return home</a></p>
    </div>
    <div>
      <div class="relative center wrap text-center">
        <h1 class="logotype bold lowercase">NOAA</h1>
      </div>
    </div>
  </body>
</html>
