<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Oceans Day (prototype) | Undercurrent</title>
    <meta content="An open source digital identity for ocean exploration at National Oceanic and Atmospheric Administration" name="description">
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/functional.css" rel="stylesheet">
    <link href="../../css/noaa.css" rel="stylesheet">
  </head>
  <body class="color-metallicseaweed">
    <div class="background-metallicseaweed color-white font-smooth">
      <div class="overflow-x overflow-y">
        <div class="relative center wrap min-height-1">
          <div class="relative">
            <h1 class="logo logo-small logo-white logo-sonar relative"><span class="hide">Undercurrent</span></h1>
            <a href="menu.html" class="logo logo-small logo-menu absolute margin-0 background-transparent"><span class="hide">View menu</span></a>
          </div>
        </div>
      </div>
      <div class="relative text-center">
        <h1 class="h5 bold uppercase">World Oceans Day</h1>
        <figure>
          <div class="relative center wrap">
            <picture>
              <source media="(min-width: 61.8em)" srcset="../../img/d2-1440.jpg">
              <source srcset="../../img/d2-960.jpg">
              <img class="margin-0" src="../../img/d2-1440.jpg" alt="D2">
            </picture>
          </div>
        </figure>
      </div>
      <div class="relative wrap center">
        <h2 class="h2 uppercase bold">Seafloor mapping</h2>
        <h3 class="h2 max-width-4">The foundation for healthy oceans and a healthy planet</h3>
      </div>
      <div class="relative wrap center">
        <div class="h5 bold uppercase">Chapter one</div>
        <h4 class="bold"><a href="one.html">Mapping the seafloor one ping at a time</a><h4>
      </div>
    </div>
    <div>
      <div class="relative center wrap text-center">
        <p class="relative center max-width-8">We hope you’ll take some time to browse the images, videos, and essays on this website. Tune in and follow along as we make new and exciting discoveries.</p>
        <p><a href="explore.html">Explore &rarr;</a></p>
      </div>
    </div>
    <div>
      <div class="relative center wrap text-center">
        <h1 class="logotype bold lowercase">NOAA</h1>
      </div>
    </div>
  </body>
</html>
