<!DOCTYPE html>
<html lang="en-US" class="height-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World Oceans Day (prototype) | Undercurrent</title>
    <meta content="An open source digital identity for ocean exploration at National Oceanic and Atmospheric Administration" name="description">
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/functional.css" rel="stylesheet">
    <link href="../../css/noaa.css" rel="stylesheet">
  </head>
  <body class="color-metallicseaweed">
    <div class="relative center wrap">
      <div class="relative">
        <div class="logo logo-small logo-metallicseaweed logo-static relative"><span class="hide">Undercurrent</div></h1>
        <a href="index.html" class="logo-menu logo-small absolute margin-0 background-transparent"><span class="hide">Close menu</span></a>
      </div>
    </div>
    <ul class="relative center wrap">
      <li class="h3 uppercase color-black">Index</li>
      <li class="h3 uppercase margin-0"><a class="text-decoration-none" href="one.html">Chapter one</a></li>
      <li class="h3 uppercase margin-0"><a class="text-decoration-none" href="explore.html">Explore with us</a></li>
    </ul>
    <div>
      <div class="relative center wrap">
        <p><a href="index.html">&larr; Return home</a></p>
      </div>
    </div>
  </body>
</html>
