<!DOCTYPE html>
<html lang="en-US" class="height-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapping the seafloor one ping at a time | World Oceans Day (prototype) | Undercurrent</title>
    <meta content="An open source digital identity for ocean exploration at National Oceanic and Atmospheric Administration" name="description">
    <link href="../../css/global.css" rel="stylesheet">
    <link href="../../css/functional.css" rel="stylesheet">
    <link href="../../css/noaa.css" rel="stylesheet">
  </head>
  <body class="color-metallicseaweed">
    <div class="relative center wrap">
      <div class="relative">
        <div class="logo logo-small logo-metallicseaweed logo-static relative"><span class="hide">Undercurrent</div></h1>
        <a href="index.html" class="logo-menu logo-small absolute margin-0 background-transparent"><span class="hide">Close menu</span></a>
      </div>
    </div>
    <div class="relative center wrap">
      <div class="h5 bold uppercase">Chapter one</div>
      <h4 class="h2 bold max-width-3">Mapping the seafloor one ping at a time<h4>
    </div>
    <div class="background-metallicseaweed color-white font-smooth">
      <figure>
        <div class="relative center wrap" style="padding-top: 0;">
          <img src="../../img/multibeam-1020.jpg" alt="Multibeam">
        </div>
      </figure>
      <div class="relative center wrap">
        <p class="h3 max-width-8">A primary tool used to map the seafloor from a ship is sonar, which stands for <span class="bold color-black">SO</span>und <span class="bold color-black">NA</span>vigation and <span class="bold color-black">R</span>anging.</p>
        <p class="max-width-9">The full name gives you a clue as to how sonar works: Sonar systems send sound waves from the bottom of the ship to the seafloor. These sound waves bounce off the seafloor and back to the ship.</p>
        <p class="max-width-9">Single beam and multibeam echosounders measure the length of time it takes for sound to travel from the ship to the seafloor and back to the ship as an echo. Scientists use the time measurements to determine how deep the water is (and thus the distance to the seafloor).</p>
        <p class="max-width-9">As their names imply, single beam sonar collects data over a single point on the seafloor, while multibeam sonar collects data over a fan-shaped “swath” of many points.</p>
        <p class="max-width-9">By putting the individual sound returns, or pings, together, you can build a picture of the seafloor, creating a bathymetric map that displays the depths and shapes of the underwater terrain.</p>
      </div>
    </div>
    <div class="relative center wrap text-center" style="padding-top: 0;">
      <figure>
        <picture>
          <source media="(min-width: 61.8em)" srcset="../../img/rov-1440.jpg">
          <source srcset="../../img/rov-960.jpg">
          <img class="margin-0" src="../../img/rov-1440.jpg" alt="ROV">
        </picture>
      </figure>
    </div>
    <div class="relative center wrap text-center">
      <p><a href="explore.html">Explore &rarr;</a></p>
    </div>
  </body>
</html>
